
body {
    font-family: 'Lato', sans-serif;
}
.content-title{
    text-align: center;
}
.main{
    background-image: url(https://images.unsplash.com/photo-1629904869392-ae2a682d4d01?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1176&q=80) ;
    background-size: cover;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    color:#ffffff;
    overflow-y:scroll;
    font-size: 24px;
}
.main::after{
    content:"";
    background-color: rgb(0, 0, 0, 0.8);
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.content-title {
    text-align: center;
    font-size: 28px;
    z-index:2;
    position: relative;
}
.main-content{
    background-color: rgb(27, 27, 50, 0.9);
    max-width: 650px;
    display:flex;
    flex-direction: column;
    padding:40px;
    margin:0 auto;
    margin-bottom:5px;
    border-radius: 5px;
    z-index: 2;
    position:relative;
    box-shadow: 0px -1px 10px 5px cyan;
}

#name, #email, #number, #dropdown, #suggestions{
    display:block;
    width:100%;
    height:30px;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-size:20px ;
    padding: 5px 5px 5px 20px;
    color:#000000;
    background-color:#ffffff;
    margin-bottom: -10px;
}
#dropdown{
    background-color:#ffffff;
    width:104%;
    font-size: 20px;
    height:45px;
    font-family: 'Lato', sans-serif;

}
label[for=name],
label[for=email],
label[for=number],
label[for=dropdown],
label[for=suggestions],
#recommend,
#checkbox {
    margin-bottom:10px;
    display:inline-block;
}
#definitely, #maybe, #not-sure{
    height:20px;
    width:20px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#fe, #be, #ds, #de, #ai, #cybersecurity{
    height:20px;
    width:20px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#suggestions{
    height:100px;
}
#submmit{
    background-color: cyan;
    width: 104%;
    height: 45px;
    font-size: 20px;
    color:#f5f5f5;
    font-family: 'Lato', sans-serif;
}

